<%- include('../layouts/slidebar.ejs') %>
    <style>
        .table .category-cell {
            max-width: 150px;

        }

        /* Add custom CSS to display table borders */
        table.table-bordered {
            border-collapse: collapse;
            width: 100%;
        }

        table.table-bordered th,
        table.table-bordered td {
            border: 1px solid #ddd;
            /* Add border styles as desired */
            padding: 8px;
            /* Adjust padding as needed */
            text-align: left;
        }

        table.table-bordered th {
            background-color: #f2f2f2;
            /* Add background color for header row */
        }

        /* Add custom styling for the '...' button */
        .dot.btn-pagination {
            background-color: transparent;
            color: #007bff;
            /* Change to your desired color */
            border: none;
            cursor: not-allowed;
        }

        .btn-pagination {
            display: inline-block;
            padding: 8px 16px;
            background-color: #01060b;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin: 2px;
        }

        .btn-pagination.current-page {
            background-color: #ccc;
            color: #333;
        }

        .btn-fixed-size {
    width: 110px; 
    height: 30px; 
}
    </style>


    <section class="content-main container mt-4">

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th style="width: 200px;">Product</th>
                            <th style="width: 200px;">Name</th>
                            <th style="width: 200px;">Price</th>
                            <th style="width: 200px;">Category</th>
                            <th style="width: 200px;">Quantity</th>
                            <th style="width: 200px;">Color</th>
                            <th style="width: 200px;">Description</th>
                            <th style="width: 200px;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach(product=> { %>
                            <tr>
                                <td>
                                    <% if (product.image && product.image.length> 0) { %>
                                        <img src="/uploadProduct/<%= product.image[0] %>" class="img-thumbnail"
                                            alt="<%= product.productname %>" style="max-width: 100px;">
                                        <% } %>
                                </td>
                                <td class="category-cell">
                                    <h6 class="mb-0">
                                        <%= product.productname %>
                                    </h6>
                                </td>
                                <td>
                                    ₹<%= product.productprice %>
                                </td>
                                <td class="category-cell">
                                    <%= product.categoryname %>
                                </td>
                                <td>
                                    <%= product.quantity %>
                                </td>
                                <td>
                                    <%= product.color %>
                                </td>
                                <td class="category-cell">
                                    <%= product.description %>
                                </td>

                                <td>
                                    
                                        <a href="/admin/edit-product/<%= product._id %>" class="btn btn-sm btn-primary btn-fixed-size">
                                           Edit
                                        </a>
                                        
                                        <% if (product.isListed) { %>
                                            <a href="/admin/unlistproduct/<%= product._id %>"
                                                class="btn btn-danger p-1 btn-fixed-size">Unlist</a>
                                            <% } else { %>
                                                <a href="/admin/listproduct/<%= product._id %>"
                                                    class="btn btn-success p-1 btn-fixed-size">List</a>
                                                <% } %>   
                                    
                                    
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
            <div class=" p-5 text-center d-flex justify-content-center ">
                <div class="pagination">
                    <% for (let i=1; i <=totalPages; i++) { %>
                        <a href="?page=<%= i %>" class="btn-pagination<%= i === currentPage ? ' current-page' : '' %>">
                            <%= i %>
                        </a>
                        <% } %>
                </div>

            </div>
        </div>
    </section>



    <%- include('../layouts/slidefooter.ejs') %>
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>