<%- include('../layouts/partials/header.ejs') %>
<style>
		.footer-divider {
    width: 100%; /* Increase the width to 95% */
    height: 0.5px;
    background-color: #c6bdbd;
    margin: 20px auto; /* Center the divider horizontally */
	margin-top: 50px;
}
</style>
<!-- Shoping Cart -->
<% let totalPriceSum=0 %>
<div>
	<form class="bg0" style="padding: 37px;">
		<% if (cart.products.length==0) { %>
			<div class="container txt-center mt-5 mb-5 p-5" >
				<div class="row">
					<h3>Your Cart is Empty!</h3>
					<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
						<div class="m-l-25 m-r--38 m-lr-0-xl">
							<% } else { %>
								<div class="wrap-table-shopping-cart">
									<table class="table table-bordered">
										<thead class="thead-dark">
											<tr>
												<th scope="col">Product</th>
												<th scope="col">Product Name</th>
												<th scope="col">Price</th>
												<th scope="col">Quantity</th>
												<th scope="col">Total</th>
												<th scope="col">Actions</th>
											</tr>
										</thead>
										<tbody>
											<% cart.products.forEach(product=> { %>
												<% let totalPrice=product.productDetails.productprice *
													product.quantity; %>
													<% totalPriceSum +=totalPrice %>
														<tr class="incrementdecrement"
															data-id="<%= product.product._id %>">
															<td class="column-1">
																<img src="uploadProduct/<%= product.productDetails.image[0] %>"
																	alt="<%= product.productDetails.productname %>"
																	class="product-image">
															</td>
															<td class="column-2">
																<%= product.productDetails.productname %>
															</td>
															<td class="column-3 price">₹<%=
																	product.productDetails.productprice.toFixed(2) %>
															</td>
															<td class="column-4">
																<div class="wrap-num-product flex-w m-l-auto m-r-0">
																	<div
																		class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
																		<i class="fs-16 zmdi zmdi-minus dec-btn"
																			data-id="<%= product.product._id %>"></i>
																	</div>
																	<input
																		class="mtext-104 cl3 txt-center num-product inputQuantity"
																		type="number" name="num-product1"
																		value="<%= product.quantity %>"
																		data-price="<%= product.productDetails.productprice.toFixed(2) %>"
																		data-total="<%= totalPrice.toFixed(2) %>"
																		placeholder="Quantity" title="Quantity">
																	<div
																		class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
																		<i class="fs-16 zmdi zmdi-plus inc-btn"
																			data-id="<%= product.product._id %>"></i>
																	</div>
																</div>
																<input type="hidden" class="max-quantity"
																	value="<%= product.productDetails.quantity %>">
															
															</td>
															<td class="column-5 total-price">₹<%= totalPrice.toFixed(2)
																	%>
															</td>
															<td class="column-6">
																<div class="flex-w">
																	<button class="btn btn-danger remove-item">
																		<a href="/remove/<%= product.product._id %>"
																			style="text-decoration: none; color: inherit;">Remove</a>
																	</button>
																</div>
															</td>
														</tr>
														<% }); %>
										</tbody>
									</table>
								</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 ">
							<div class="border rounded p-4 mb-4">
								<h4 class="text-center mb-4">Cart Totals</h4>

								<div class="d-flex justify-content-between align-items-center mb-3">
									<span class="text-secondary">Total:</span>
									<span class="total-price font-weight-bold total-price-sum"> ₹<%=
											totalPriceSum.toFixed(2) %> </span>

								</div>

								<div class="d-flex justify-content-between align-items-center mb-3">
									<!-- <span class="text-secondary">Discount:</span>
									<span class="font-weight-bold">₹0.0</span> -->
								</div>


								<!-- Proceed to Checkout Button -->
								<div class="text-center">
									<a href="/checkout" class="btn btn-dark btn-lg btn-block mt-3"
										style="text-decoration: none;">
										Proceed to Checkout
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<% } %>
				<!-- <div id="proceedToCheckout"></div> -->
	</form>
</div>

<%- include('../layouts/partials/footer.ejs') %>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		const countInput = document.querySelectorAll('.incrementdecrement');
		const totalpricesum = document.querySelector('.total-price-sum');

		countInput.forEach(product => {
			const decbtn = product.querySelector(".dec-btn")
			const incbtn = product.querySelector(".inc-btn")
			const inputQuantity = product.querySelector(".inputQuantity");
			const price = product.querySelector(".price")
			const totalprice = product.querySelector('.total-price')
			const productId = product.getAttribute("data-id")
			const maxQuantity = parseInt(product.querySelector(".max-quantity").value, 10);

			console.log('of', maxQuantity)
			incbtn.addEventListener("click", () => {
				let qty = parseInt(inputQuantity.value, 10); // Convert to integer
				const productPrice = parseFloat(price.textContent.replace('₹', '')); // Convert to float

				if (!isNaN(qty) && !isNaN(productPrice)) {
					const maxQuantity = parseInt(product.querySelector(".max-quantity").value, 10);

					if (qty < maxQuantity) {
						qty++;
						inputQuantity.value = qty;
						totalprice.textContent = '₹' + (productPrice * qty).toFixed(2); // Format total price
						updatetotalpricesum();
						updatequantity(productId, qty);
					} else {
						// Display a Swal.fire alert when the user exceeds the product quantity limit
						Swal.fire({
							title: 'Quantity Limit Reached',
							text: 'You cannot add more than ' + maxQuantity + ' of this product.',
							icon: 'warning',
							showConfirmButton: true
						});
					}
				}
			});


			decbtn.addEventListener("click", () => {
				let qty = parseInt(inputQuantity.value, 10); // Convert to integer
				const productPrice = parseFloat(price.textContent.replace('₹', '')); // Convert to float
				if (!isNaN(qty) && !isNaN(productPrice) && qty > 1) { // Check for valid numbers
					qty--;
					inputQuantity.value = qty;
					totalprice.textContent = '₹' + (productPrice * qty).toFixed(2); // Format total price
					updatetotalpricesum();
					updatequantity(productId, qty);
				}
			})
		})

		function updatetotalpricesum() {
			let sum = 0;
			countInput.forEach(product => {
				const totalprice = product.querySelector('.total-price');
				const totalpriceText = totalprice.textContent.trim();
				const priceValue = parseFloat(totalpriceText.replace('₹', '').trim());

				if (!isNaN(priceValue)) {
					sum += priceValue;
				}
			});
			totalpricesum.textContent = '₹' + sum.toFixed(2); // Format the sum as currency
		}

		function updatequantity(productId, quantity) {
			$.ajax({
				url: "/updatedcart",
				type: 'POST',
				contentType: 'application/json',
				data: JSON.stringify({ productId, quantity }),
				success: function (data) {
					console.log(data);
				},
				error: function (error) {
					console.log("An error occured:", error);
				}
			})
		}


	</script>


	
			<!-- End Footer Section -->	
	
	
			<script src="uiHome/js/bootstrap.bundle.min.js"></script>
			<script src="uiHome/js/tiny-slider.js"></script>
			<script src="uiHome/js/custom.js"></script>
		</body>
	
	</html>
	