<!DOCTYPE html>
<html lang="en">

<head>
	<title>Shoping Cart</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" href=" /assets/imgs/theme/Black White Logo.png">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!--===============================================================================================-->
	<link href="uiHome/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
	<link href="uiHome/css/tiny-slider.css" rel="stylesheet">
	<link href="uiHome/css/style.css" rel="stylesheet">
</head>
<style>
	.coupon-card {
		background: linear-gradient(135deg, #7158fe, #9d4de6);
		color: #fff;
		text-align: center;
		padding: 10px 20px;
		border-radius: 15px;
		box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
		margin: 10px;
		width: 300px;
		display: inline-block;
		height: 200px;
		overflow: hidden;
		position: relative;
	}

	.coupon-card h3 {
		font-size: 18px;

		font-weight: 400;
		line-height: 24px;
		margin-bottom: 10px;

	}

	.coupon-card p {
		font-size: 12px;

	}

	.coupon-row {
		display: flex;
		align-items: center;
		margin: 10px auto;
		width: fit-content;
	}

	#cpnCode {
		border: 1px dashed #fff;
		padding: 5px 10px;
		border-right: 0;
		border-radius: 8px 0 0 8px;
	}

	#cpnBtn {
		border: 1px solid #fff;
		background: #fff;
		padding: 5px 10px;
		color: #7158fe;
		cursor: pointer;
		border-radius: 0 8px 8px 0;
	}

	.circle1,
	.circle2 {
		background: #f0fff3;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	.circle1 {
		left: -12.5px;

	}

	.circle2 {
		right: -12.5px;

	}
	.footer-divider {
    width: 85%; /* Increase the width to 95% */
    height: 0.5px;
    background-color: #c6bdbd;
    margin: 20px auto; /* Center the divider horizontally */
	margin-top: 175px;
}
</style>

<body>
	<!-- Start Header/Navigation -->
	<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar" >
		<div class="container">
			<a class="navbar-brand" href="index.html">Halang<span>.</span></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
				aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarsFurni">
				<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
					<li><a class="nav-link" href="/">Home</a></li>
					<li><a class="nav-link" href="/products">Shop</a></li>
					<li><a class="nav-link" href="about.html">About us</a></li>
					<li><a class="nav-link" href="services.html">Services</a></li>
					<li><a class="nav-link" href="blog.html">Contact us</a></li>

				</ul>
				<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
					<li><a class="nav-link" href="/profile"><img src="uiHome/images/user.svg"></a></li>
					<li><a class="nav-link" href="/cart"><img src="uiHome/images/cart.svg"></a></li>
				</ul>
			</div>
		</div>
	</nav>






	<!-- Coupons -->
	<% coupons.forEach(function(coupon) { %>
		<div class="coup" style="padding-left: 70px; padding-top: 50px;">
		<div class="coupon-card" >
			<h3>
				<%= coupon.description %>
			</h3>
			<div class="coupon-row">
				<span id="cpnCode">
					<%= coupon.couponCode %>
				</span>
				<span class="cpnBtn" data-coupon-code="<%= coupon.couponCode %>"
					data-min-amount="<%= coupon.minAmount %>">Apply</span>
			</div>
			<p>Valid until: <%= coupon.expirationDate.toDateString() %>
			</p>
		</div>
		<% }); %>
		</div>
			<input type="hidden" id="currentPurchaseAmount" value="<%= calculateTotalPrice %>">



			<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
			<script>
				$(document).ready(function () {

					$(".cpnBtn").on("click", function () {
						var couponCode = $(this).data("coupon-code");
						var minAmount = parseFloat($(this).data("min-amount"));
						var currentPurchaseAmount = parseFloat($("#currentPurchaseAmount").val());

						if (!isNaN(minAmount) && !isNaN(currentPurchaseAmount)) {
							if (currentPurchaseAmount >= minAmount) {

								$.ajax({
									url: "/couponget",
									method: "POST",
									data: { couponCode: couponCode },
									success: function (response) {

										if (response.success) {
											Swal.fire(
												'Success',
												'Coupon applied successfully.',
												'success'
											).then(function () {
												window.location.href = '/checkout?couponCode=' + encodeURIComponent(response.couponCode);
											});
										} else {
											Swal.fire(
												'Error',
												'Coupon is not applicable. Error: ' + response.error,
												'error'
											);
										}
									},
									error: function () {
										Swal.fire(
											'Error',
											'Error occurred while checking the coupon.',
											'error'
										);
									}
								});
							} else {
								Swal.fire(
									'Error',
									'Purchase amount is less than the minimum required.',
									'error'
								);
							}
						} else {
							Swal.fire(
								'Error',
								'Invalid purchase amount or minimum amount.',
								'error'
							);
						}
					});
				});
			</script>

<%- include('../layouts/partials/footer.ejs') %>