<!DOCTYPE html>
<html lang="en">

<head>
	<title>Product Detail</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" href=" /assets/imgs/theme/Black White Logo.png">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!--===============================================================================================-->
	<link href="uiHome/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
	<link href="uiHome/css/tiny-slider.css" rel="stylesheet">
	<link href="uiHome/css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
	<style>
        .nav-style a:link,
.nav-style a:active {
  list-style-type: none;
  text-decoration: none;
}

#cart-icon{
  margin-top:-13vh;
  font-size:30px;
  color:#800000;
}

#logo {
  font: 3vmax Economica;
  letter-spacing: 0.3em;
  padding-top: 5px;
  line-height: 5vmax;
}

.nav-style {
  float: right;
  border-bottom: 1px solid black;
  padding:  2vh 5vw 12px 1vw;
}

nav ul li {
  display: inline-block;
  text-decoration: none;
}

.nav-style a {
  color: black;
  font: 1.1vmax Ariel;
}

nav ul li a:hover {
  font: 1.4vmax Ariel thick;
  font-weight: bold;
  text-decoration: none;
}

#sidenav {
  margin-top: 30px;
  position: absolute;
}

#sidenav a:link,
.para p {
  margin: 16px 85px;
  display: block;
  font: 16px Ariel #000000;
  color: black;
}
h2{
  
  font-family:Ariel; font-weight:700;
}
.products-col {
  margin-left: 27vw;
}

.main {
  z-index: 3;
  position: relative;
  padding: 40px 10px 0 0;
}

.smaller-img {
  width: 20vw;
  height: 27vh;
}

figcaption {
  text-align: left;
}

figcaption span {
  font-weight: 700;
}

.flex-grid {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
}

.col {
  flex: 0 1 22%;
  margin: 7px 4px;
  text-align:center;
   padding: 0 0 0 0 ;
}

h6{
 padding: 0 0 -27px 0 ;
}

/* Style for the main container */
.main {
    display: flex;
    justify-content: space-between;
    margin: 20px; /* Adjust margin as needed */
}


/* Style for the category filter section */
#sidenav {
    width: 20%; /* Adjust the width as needed */
    padding: 20px; /* Add padding as needed */
    border-right: 1px solid #ccc; /* Add a border to separate categories and products */
}

.category-filter h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
    text-align: center; /* Center align the heading */
}

.category-filter ul {
    list-style: none;
    padding: 0;
}

.category-filter li {
    margin-bottom: 5px;
}

.category-filter a {
    text-decoration: none;
    color: rgb(15, 15, 15); /* Set the default link color to blue */
    transition: color 0.3s; /* Smooth transition for link color change */
	/* font-weight: bold; */
	font-family: 'Arial', sans-serif;
}

.category-filter a:hover {
    color: rgb(74, 13, 130); /* Change the link color to black on hover */
    text-decoration: underline; /* Underline the link on hover */
}


/* Style for the product listing section */
.products-col {
    width: 75%; /* Adjust the width as needed */
    padding: 20px; /* Add padding as needed */
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
/* Style for the product item container */
.product-item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-info {
    margin-top: 10px;
    text-align: center;
    width: 200px; /* Set a specific width for the product name container */
	text-decoration: none;
}

.product-name {
    font-size: 18px; /* Set the desired font size for the product name */
    overflow: hidden;
	text-decoration: none;
	color: #0e0f4b;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-price {
    font-size: 16px; 
    color: #534f50; 
    margin-top: 5px;
}

.add-to-cart-button {
    background-color: #0e0f4b; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; 
}

.add-to-cart-button:hover {
    background-color: #5046a7;
}
.btn-pagination {
  display: inline-block;
  padding: 8px 16px;
  background-color: #01060b;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 2px;
}

.btn-pagination.current-page {
  background-color: #ccc;
  color: #333;
}

.category-filter ul li a {
    text-decoration: none;
    color: #333; 
    transition: color 0.3s ease; 
}

.category-filter ul li a:hover {
    color: #1b0a06;
    font-weight: bold; 
    background-color: #f8f8f8; 
    border-radius: 5px; 
    padding: 5px 10px; 
}
.footer-divider {
    width: 100%; /* Increase the width to 95% */
    height: 0.5px;
    background-color: #c6bdbd;
    margin: 20px auto; /* Center the divider horizontally */
	margin-top: 125px;
}


</style>

<body>
	<!-- Start Header/Navigation -->
	<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">
		<div class="container">
			<a class="navbar-brand" href="">Halang<span>.</span></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<form class="form-inline ml-auto" style="margin-top: 10px; margin-right: 10px;" id="searchForm" action="/search" method="Post">
				<div class="input-group">
					<input type="search" name="search" id="searchform" class="form-control" placeholder="Search" style="border-radius: 0; height: 30px; font-size: 14px;" />
					<label class="form-label sr-only" for="form1">Search</label>
					<button type="submit" class="btn btn-primary" id="searchButton" style="border-radius: 0; height: 30px; width: 30px; padding: 0;">
						<i class="fas fa-search" style="font-size: 16px;"></i>
					</button>
				</div>
			</form>
			<div class="collapse navbar-collapse" id="navbarsFurni">
				<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
					<li><a class="nav-link" href="/">Home</a></li>
					<li><a class="nav-link" href="/products">Shop</a></li>
					<li><a class="nav-link" href="about.html">About us</a></li>
					<li><a class="nav-link" href="services.html">Services</a></li>
					<li><a class="nav-link" href="blog.html">Contact us</a></li>
					
				</ul>
				<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
					<li><a class="nav-link" href="/profile"><img src="uiHome/images/user.svg"></a></li>
					<li><a class="nav-link" href="/cart"><img src="uiHome/images/cart.svg"></a></li>
				</ul>
			</div>
		</div>		
	</nav>

	
        
	<div class='main'>
		<div id='sidenav'>
			<div class="category-filter">
				<h2>Categories</h2>
				<ul>
					<% categories.forEach(category => { %>
						<% if (category.isListed) { %>
							<li><a href="/products?categoryname=<%= category.categoryname %>"style="text-decoration: none" ><%= category.categoryname %></a></li>
						<% } %>
					<% }) %>
				</ul>
			</div>
		</div>

		<div class='products-col'>
			<h2>PRODUCTS</h2>
			<div class='product-grid pt-5 row'>
				<% products.forEach(product => { %>
					<% if (categoryname || (categoryname === 'all' || product.category === categoryname)) { %>
						<div class="product-item ">
							<a href="/productdetails?productid=<%= product._id %>">
								<img src="uploadProduct/<%= product.image[0] %>" alt="<%= product.producti %>">
								<div class="product-info">
									<h6 class="product-name"><%= product.productname %></h6>
									<span class="product-price">₹<%= product.productprice %></span>
								</div>
								<% if (product.quantity <= 0) { %>
									<p class="out-of-stock alert-danger">Out of Stock</p>
								<% } else { %>
									<button class="add-to-cart-button" data-productid="<%= product._id %>">View Detail</button>
								<% } %>
							</a>
						</div>
					<% } %>
				<% }) %>
			</div>
			<div class=" p-5 text-center d-flex justify-content-center ">
			<div class="pagination">
				<% for (let i = 1; i <= totalPages; i++) { %>
				  <a href="?page=<%= i %>" class="btn-pagination<%= i === currentPage ? ' current-page' : '' %>" ><%= i %></a>
				<% } %>
			  </div>
			  
			  </div>
			  
		</div>		
	</div>
	
	
	
<script>
const addToCartButtons = document.querySelectorAll(".addtocart");

addToCartButtons.forEach(button => {
    button.addEventListener("click", function (e) {
        const productId = button.getAttribute("data-productid");
        console.log("clicked");
        fetch("/add-item-to-cart", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ productId, quantity: 1 }), 
        })
        .then((response) => {
            if (response.ok) {
                return response.json();
            } else {
                throw new Error("Network response was not ok");
            }
        })
        .then((data) => {
            console.log(data);
           
            window.location.href = "/cart";
        })
        .catch((error) => {
            console.log(error);
        });
    });
});
</script>

<%- include('../layouts/partials/footer.ejs') %>