<!DOCTYPE html>
<html lang="en">

<head>
	<title>Product Detail</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" href=" /assets/imgs/theme/Black White Logo.png">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!--===============================================================================================-->
	<link href="uiHome/css/bootstrap.min.css" rel="stylesheet">
	<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"> -->
	<link href="uiHome/css/tiny-slider.css" rel="stylesheet">
	<link href="uiHome/css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
		integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<style>
	/* CSS to apply a cross-out effect to the original price */
	.crossed-out {
		text-decoration: line-through;
		color: #999;
		/* You can adjust the color to your preference */
	}

	#imageContainer {
		box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
		height: 500px;
		width: 500px;
		overflow: hidden;
	}

	#selectedImage {
		transform-origin: center center;
		object-fit: cover;
		height: 100%;
		width: 100%;
	}

	/* Style the image */
	.img-2 {
		width: 50px;
		/* Adjust the width to your desired size */
		height: 50px;
		/* Adjust the height to your desired size */
	}


	.footer-divider {
		width: 100%;
		/* Increase the width to 95% */
		height: 0.5px;
		background-color: #c6bdbd;
		margin: 20px auto;
		/* Center the divider horizontally */
		margin-top: 125px;
	}
	.custom-heart-icon {
    color: red !important;
}
</style>

<body>

	<!-- Start Header/Navigation -->
	<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">
		<div class="container">
			<a class="navbar-brand" href="index.html">Halang<span>.</span></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
				aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarsFurni">
				<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
					<li><a class="nav-link" href="/">Home</a></li>
					<li><a class="nav-link" href="/products">Shop</a></li>
					<li><a class="nav-link" href="about.html">About us</a></li>
					<li><a class="nav-link" href="services.html">Services</a></li>
					<li><a class="nav-link" href="blog.html">Contact us</a></li>

				</ul>
				<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
					<li><a class="nav-link" href="/profile"><img src="uiHome/images/user.svg"></a></li>
					<li><a class="nav-link" href="/cart"><img src="uiHome/images/cart.svg"></a></li>
				</ul>
			</div>
		</div>
	</nav>



	<!-- breadcrumb -->
	<div class="container">
		<% products.forEach(product=>{ %>
			<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
				<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
					Shop
					<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
				</a>
				<a href="product.html" class="stext-109 cl8 hov-cl1 trans-04">
					<%= product.productname %>
						<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
				</a>
			</div>
	</div>

	<!-- Product Detail -->
	<section class="sec-product-detail bg0 p-t-65 p-b-60">
		<div class="container">
			<div class="row">
				<aside class="col-lg-6">

					<div id="imageContainer">


						<div class="border rounded-4 mb-3 d-flex justify-content-center">

							<div id="img-zoomer-box">
								<img id="selectedImage" style="width: 40rem; height: 30rem;" class="rounded-4 fit"
									src="uploadProduct/<%=product.image[0]%>" />
								<div id="img-2"></div>
							</div>
						</div>
					</div>
					<div class="d-flex justify-content-center mb-3">
						<% for (i=0; i < product.image.length; i++) { %>
							<a data-fslightbox="mygallery" class="border mx-1 rounded-2" data-type="image" href="#"
								onclick="changeImage('<%= product.image[i] %>')" class="item-thumb">
								<img width="60" height="60" class="rounded-2"
									src="uploadProduct/<%= product.image[i] %>" />
							</a>
							<% } %>



					</div>

				</aside>

				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<h4 class="mtext-105 cl2 js-name-detail p-b-14">
							<%= product.productname %>
						</h4>


						<p class="stext-102 cl3 p-t-23">
							<%= product.description %>
						</p>
						<% if (product.productprice !==product.salesprice) { %>

							<span class="mtext-106 cl2">
								<span class="offer-price">₹<%= product.productprice %></span>
								<span class="original-price crossed-out">₹<%= product.salesprice %></span>
								<span class="discount-percentage">
									<% const discountPercentage=((product.salesprice - product.productprice) /
										product.salesprice) * 100; %>
										<%= Math.round(discountPercentage) %>%
								</span>
							</span>
							<% } else { %>
								<span class="mtext-106 cl2">
									₹<%= product.productprice %>
								</span>
								<% } %>
									<div class="p-t-33">
										<div class="flex-w flex-r-m p-b-10">

										</div>

										<!-- <div class="flex-w flex-r-m p-b-10">
											<div class="size-203 flex-c-m respon6">
												Color
											</div>

											<div class="size-204 respon6-next">
												<div class="rs1-select2 bor8 bg0">
													<select class="js-select2" name="time">
														<option>Choose an option</option>
														<% products.forEach(product=> { %>
															<option>
																<%= product.color %>
															</option>
															<% }); %>
													</select>
													<div class="dropDownSelect2"></div>
												</div>
											</div>

										</div> -->

										<!-- <div class="flex-w flex-r-m p-b-10"> -->
										<div class="size-204 flex-w flex-m respon6-next">


										</div>
										<% if (product.quantity <=0) { %>
											<span class="out-of-stock alert-danger">Out of Stock</span>
											<% } else { %>
												<button
													class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 "
													id="addtocart" data-productid="<%= product._id %>"
													style="margin-bottom: -43px;">
													Add to cart
												</button>
												<% } %>

													<!-- <button class="wishlist-button"  id="wishlist" data-productid="<%= product._id %>"> -->

													<!-- Add to Wishlist
														</button> -->
														<% if (product.isWishlist === true) { %>
															<div class="wishlist-icon-remove" style="padding-left: 182px;">
																<i id="wishlistIconRemove" data-productid="<%= product._id %>"
																	class="fa-solid fa-heart"
																	style="font-size: 40px;"></i>
															</div>
														<%  }else {  %>
														
															<div class="wishlist-icon-add" style="padding-left: 182px;">
																<i id="wishlistIconAdd" class="fa-regular fa-heart" style="font-size: 40px;" data-productid="<%= product._id %>"></i>

															</div>
														<% } %>
														
																<div id="quantity-message" class="error-message"></div>
									</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<% }); %>
			</div>
	</section>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
		$(document).ready(function () {
			const count = $("#Quantity");
			const cartButton = $("#addtocart");
			const maxQuantity = Number($("#max-quantity").val());
			const errorContainer = $("#error-message");

			cartButton.click(function (e) {
				e.preventDefault();

				const productId = cartButton.data("productid");

				$.ajax({
					type: "POST",
					url: "/add-item-to-cart",
					data: JSON.stringify({ productId, quantity: 1 }),
					contentType: "application/json",
					success: function (response) {
						console.log(response)
						if (!response.user) window.location.href = "/userlogin";
						if (response.success) {
							window.location.href = "/cart";
						} else {
							showError(response.message);
						}
					},
					error: function (response) {
						showError(response.message);
					},
				});
			});

			function showError(message) {

				errorContainer.text(message);
				errorContainer.show();
			}
		});

	</script>
	<script>
		$(document).ready(function () {
			const wishlistBtn = $("#wishlistIconAdd");
		
			wishlistBtn.click(function (e) {
				e.preventDefault();
		
				const productId = wishlistBtn.data("productid");
		
				$.ajax({
					type: "POST",
					url: `/addToWishlist/${productId}`,
					data: JSON.stringify({ productId }),
					contentType: "application/json",
					success: function (response) {
						console.log(response);
		
						if (response.success) {
							$("#wishlistIconAdd").removeClass("fa-regular fa-heart").addClass("fa-solid fa-heart");
							console.log('clicked')
							window.location.reload()
						} else {
							showError(response.message);
						}
					},
					error: function (response) {
						showError(response.message);
					},
				});
			});
		
			function showError(message) {
				// Implement error handling here
			}
		});
		</script>
		
	
		<script>
		$(document).ready(function () {
			const wishlistBtn = $("#wishlistIconRemove");
		
			wishlistBtn.click(function (e) {
				e.preventDefault();
		
				const productId = wishlistBtn.data("productid");
		
				$.ajax({
					type: "POST",
					url: `/removeWishlist/${productId}`, 
					data: JSON.stringify({ productId }),
					contentType: "application/json",
					success: function (response) {
						console.log(response);
		
						if (response.success) {
							$("#wishlistIconRemove").removeClass("fa-solid fa-heart").addClass("fa-regular fa-heart");
							console.log('clicked2')
							window.location.reload()
						} else {
							showError(response.message);
						}
					},
					error: function (response) {
						showError(response.message);
					},
				});
			});
		
			function showError(message) {
				// Implement error handling here
			}
		});
		</script>
		
		
		
		
		


	<!-- <script>
		const wishIcon=document.querySelector('#wishlist')
		$(document).ready(function () {
			const wishlistBtn = $("#wishlist"); 
	
			wishlistBtn.click(function (e) {
				e.preventDefault();
	
				const productId = wishlistBtn.data("productid"); 
				
				if(wishIcon.style.color==='red'){

				}else{
					
				
				$.ajax({
					type: "POST",
					url: "/addToWishlist",
					data: JSON.stringify({ productId }), 
					contentType: "application/json",
					success: function (response) {
						console.log(response);
						if (!response.user) {
							window.location.href = "/userlogin";
						}
						if (response.success) {
							wishIcon.style.color='red'
							window.location.href = "/wishlist";
						} else {
							showError(response.message);
						}
					},
					error: function (response) {
						showError(response.message);
					},
				});
			}
			});
	
		
			function showError(message) {
				errorContainer.text(message);
				errorContainer.show();
			}
		});
	</script>
	 -->

	<script>
		const container = document.getElementById("imageContainer");
		const img = document.getElementById("selectedImage");
		container.addEventListener("mousemove", onZoom);
		container.addEventListener("mouseover", onZoom);
		container.addEventListener("mouseleave", offZoom);

		function onZoom(e) {
			const x = e.clientX - container.offsetLeft;
			const y = e.clientY - container.offsetTop;
			img.style.transformOrigin = `${x}px ${y}px`;
			img.style.transform = "scale(2.5)";
		}

		function offZoom(e) {
			img.style.transformOrigin = `center center`;
			img.style.transform = "scale(1)";
		}
	</script>

	<script>
		function changeImage(imageSrc) {

			var selectedImage = document.getElementById("selectedImage");
			selectedImage.src = "uploadProduct/" + imageSrc;
			selectedImage.alt = "Selected Image";
		}
	</script>




	<%- include('../layouts/partials/footer.ejs') %>